<header>
	<div id="logo_box">
		<h1><a href="#" id="logo">Get Apps Done 
			<span>Clients Choose Us!</span></a>
		</h1>
		<div id="login" align="right" rel="tooltip" title="Login">
			<a href="#" id="displaypopup">Login</a>			
		</div>			
	</div>		
</header>