<div id="loginPopup">
	<%= image_tag 'close.png', id: "loginPopupClose" %>		
	<center>
		<h1><input type='button' value=" Login " class="btn btn-primary btn-large margin15"></h1>
		<h1><input type='button' value="Signup With Twitter" class="btn btn-primary btn-large margin15"></h1>
		<h1><input type='button' value="Signup With Facebook" class="btn btn-primary btn-large margin15"></h1>			
		<h1><input type='button' value="Signup With Linkedin" class="btn btn-primary btn-large margin15"></h1>						
	</center>
</div>